<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="http://localhost:3000/register" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="text" name="firstName" placeholder="firstname">
        <input type="text" name="lastName" placeholder="lastname">
        <input type="text" name="role" placeholder="role">
        <input type="text" name="email" placeholder="email">
        <input type="number" name="phoneNumber" placeholder="phonenumber">
        <button>Register</button>
    </form>
</body>
</html>