.total{
    background: #E5E5E5;
}

.postMenuWrapper {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 35px 40px;
    padding-top: 25px;
}

.titleText {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #404e68;
    font-weight:normal;
}