.logo span {
  line-height: 46px;
  letter-spacing: 0.6px;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
  color: rgb(115, 129, 143);
}
.logo img {
  height: 50px;
  width: 50px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}
