* {
  font-family: Mulish;
}
.pop-up-post {
  padding: 20px;
}
/* .post-content {
} */
.post-author-and-time {
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: #404e68;
}
.post-of-sb {
  font-size: 22px;
  line-height: 28px;
}

.separator {
  margin: 10px;
  width: 10px;
}
.time-taken {
  font-size: 12px;
  line-height: 16px;
}

.post-header {
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 22px;
  letter-spacing: 0.3px;
  color: #404e68;
}

.post-detail {
  font-weight: 700;
  color: black;
}

/* Comments */
.single-comment {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.comment-header {
  display: flex;
  flex-direction: row;
}

.comment-author {
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: #404e68;
}

.comment-detail {
  font-weight: 700;
  color: black;
}

p {
  outline: 0;
}

/* .row{
    display: flex;
    width:100%;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.input-box{
  background: #d4e7ff;
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  color:rgb(49, 49, 49);
}
.input-box:focus{
    outline: none;
}
.input-div{
    background: #d4e7ff;
    width: 100%;
    padding:10px;
    display: flex;
    flex-direction: column;
}
.input-name{
    color:rgb(49, 49, 49);
}
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #d4e7ff;
    margin-top:20px;
}
.btn-div{
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    }

/* .post-btn{
    border : 2px solid #659bdb;
    border-radius: 5px;
    background-color: #659bdb;
    padding: 5px 14px;
    color: #ffffff;
    font-weight:bolder;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}
.post-btn:active{
    outline: none;
}
.cancel-btn{
    color: rgb(139, 139, 139);
    text-align: center;
    background-size: 200% auto;
    border-radius:5px;
    padding: 5px 10px;
    border: 2px solid rgb(139, 139, 139);
    font-weight:bolder;
    font-size: 16px;
    cursor: pointer;
}
*/
