.boxPost {
  background-color: #fff;
  position: relative;
  z-index: 1;
  height: 80px;
  width: 800px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.feildClick {
  height: 80px;
  width: 800px;
}

.time {
  font-size: 10px;
}

.postsitive-name {
  position: absolute;
  left: 10%;
  top: 20%;
  margin-left: auto;
  text-align: left;
}

.name-text {
  color: #404e68;
  font-weight: bolder;
}

.heading-text {
  position: absolute;
  left: 12%;
  bottom: 10%;
  text-align: left;
  margin-left: auto;
  color: #000000;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 350px;
}

.view-number {
  position: absolute;
  left: 0px;
  bottom: 15px;
  border-right: 1px solid #404e68;
  padding-right: 15px;
  font-size: 30px;
  color: #404e68;
  font-weight: bold;
}

.penButton {
  position: absolute;
  left: 95%;
  top: 0%;
}
.binButton {
  position: absolute;
  left: 96%;
  bottom: 5%;
  opacity: 0.6;
}
