

.boxPost {
    background-color: #fff;
    height: 80px;
    width: 800px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

.postsitive {
    position:relative;
    top: 18px;
    
}

.postsitive-name {
    position:absolute;
    left:74px;
    bottom:25px;
    margin-left: auto;
    text-align: left;
    
}

.time {
    font-size: 10px;
}

.name-text {
    color: #404e68;
    font-weight:bolder;
}

  .heading-text{
    position:absolute;
    left:90px;
    bottom:-9px;
    text-align: left;
    margin-left: auto;
    color:  #000000;
    font-weight:normal;
  }

  .view-number {
    border-right: 1px solid #404e68;
    padding-right: 15px;
    font-size: 30px;
    padding-left: 10px;
    color: #404e68;
    font-weight: bold;
  }

  .penImg {
    position:absolute;
    left:762px;
    bottom:30px;
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-right: 20px;
  }
  .binImg {
    position:absolute;
    left:760px;
    bottom:-10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 20px;
  }