@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish';
}

.home, .forum, .class-list, .dashboard {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}